In [1]:
import pandas
data = pandas.read_csv('1000 Sales Records.csv', sep=';', na_values=".")
data

    Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0    Middle East and North Africa,Libya,Cosmetics,O...
1    North America,Canada,Vegetables,Online,M,11/7/...
2    Middle East and North Africa,Libya,Baby Food,O...
3    Asia,Japan,Cereal,Offline,C,4/10/2010,16144264...
4    Sub-Saharan Africa,Chad,Fruits,Offline,H,8/16/...
..                                                 ...
995  Middle East and North Africa,Azerbaijan,Snacks...
996  Europe,Georgia,Baby Food,Offline,H,8/1/2011,59...
997  Middle East and North Africa,United Arab Emira...
998  Europe,Finland,Household,Offline,L,1/25/2016,2...
999  Europe,Portugal,Cereal,Offline,C,4/10/2014,811...

[1000 rows x 1 columns]

In [2]:
data.shape

(1000, 1)

In [3]:
data.columns

Index(['Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit'], dtype='object')

In [5]:
print(data['Gender'])

0     Female
1       Male
2       Male
3       Male
4     Female
5     Female
6     Female
7     Female
8       Male
9       Male
10    Female
11      Male
12      Male
13    Female
14    Female
15    Female
16    Female
17      Male
18    Female
19      Male
20      Male
21      Male
22    Female
23      Male
24    Female
25      Male
26    Female
27      Male
28    Female
29    Female
30    Female
31      Male
32      Male
33      Male
34    Female
35    Female
36      Male
37    Female
38      Male
39      Male
Name: Gender, dtype: object

In [6]:
data[['Gender','VIQ']]

    Gender  VIQ
0   Female  132
1     Male  150
2     Male  123
3     Male  129
4   Female  132
5   Female   90
6   Female  136
7   Female   90
8     Male   93
9     Male  114
10  Female  129
11    Male  150
12    Male  129
13  Female  120
14  Female  100
15  Female   71
16  Female  132
17    Male   96
18  Female  112
19    Male   77
20    Male   83
21    Male  107
22  Female  129
23    Male  145
24  Female   86
25    Male  145
26  Female   90
27    Male   96
28  Female   83
29  Female  126
30  Female  126
31    Male  145
32    Male   96
33    Male   96
34  Female   90
35  Female  129
36    Male  150
37  Female   86
38    Male   90
39    Male   91

In [7]:
data['VIQ'].mean()

112.35

In [8]:
data[data['Gender'] == 'Female']['VIQ'].mean()

109.45

In [9]:
data['PIQ'].median()

115.0

In [10]:
data[data['Gender'] == 'Female']['VIQ'].min()

71

In [11]:
data['VIQ'].max()

150

In [13]:
x=data['VIQ'].max()
y=data['VIQ'].min()
print(x,y)

150 71

In [5]:
import pandas as pd
data = pd.read_csv('1000 Sales Records.csv', sep=';', na_values=".")

In [9]:
df=data
from pandas.plotting import scatter_matrix
plotting = scatter_matrix
plotting(df[['Country','Item Type','Total Profit']])

KeyError: "None of [Index(['Country', 'Item Type', 'Total Profit'], dtype='object')] are in the [columns]"

In [20]:
def stdev(nums):
    diffs = 0
    avg = sum(nums)/len(nums)
    for n in nums:
        diffs += (n-avg)**(2)
    return (diffs/(len(nums)-1))**(0.5)

In [22]:
viq = df['VIQ']
viq

0     132
1     150
2     123
3     129
4     132
5      90
6     136
7      90
8      93
9     114
10    129
11    150
12    129
13    120
14    100
15     71
16    132
17     96
18    112
19     77
20     83
21    107
22    129
23    145
24     86
25    145
26     90
27     96
28     83
29    126
30    126
31    145
32     96
33     96
34     90
35    129
36    150
37     86
38     90
39     91
Name: VIQ, dtype: int64

In [23]:
print(stdev(viq))

23.616107063199735

In [24]:
data_height = df['Height']
data_height
print(stdev(data_height))

nan

In [25]:
data_height = df['Height']
data_height

print(stdev(data_height))

nan

In [7]:
from pandas.plotting import scatter_matrix
plotting = scatter_matrix
plotting(df[['Country','Item Type','Total Profit']])

KeyError: "None of [Index(['Country', 'Item Type', 'Total Profit'], dtype='object')] are in the [columns]"

In [8]:
import pandas
data = pandas.read_excel('pegawai_cab02.xlsx')
data

   nik  nama      job status
0  403  Rina   SA_REP    NaN
1  404  Toro  IT_SUPP    NaN
2  405  Siti   SA_REP    OUT
3  406  Rini   SA_REP    NaN

In [33]:
data['nik'].mean()

404.5

In [36]:
data['nik'].median()

404.5

In [37]:
df=data
def stdev(nums):
    diffs = 0
    avg = sum(nums)/len(nums)
    for n in nums:
        diffs += (n-avg)**(2)
    return (diffs/(len(nums)-1))**(0.5)
stv=df['nik']

In [38]:
stv

0    403
1    404
2    405
3    406
Name: nik, dtype: int64